* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#PrimeEngine {
    /* background-color: rgb(0, 70, 150); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

/* #UI { } */

#ExperienceMeter {
    position: fixed;
    width: 60%;
    height: 23px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: inline-block;
    overflow: visible;
    z-index: -20;
}

#ExperienceMeterInner {
    position: fixed;
    background-color: rgba(0, 255, 0, 0.5);
    height: 100%;
    width: 50%; /* Percentage of meter */
    border-radius: 10px;
    z-index: -19;
}

#ExperienceMeterText {
    text-align: center;
    color: white;
    z-index: -18;
}

#Boosts {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.Boost {
    border-radius: 20px;
    background-color: rgba(0, 255, 0, 0.5);
    margin: 5px;
    width: 20px;
    height: 80px;
}
